<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TempDirectory" value="C:\\Temp"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=ELMARDUSAEV\SQLEXPRESS;Initial Catalog=AvtomirTestDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" name="AvtomirTestDB" providerName="System.Data.EntityClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>